@import "variables.scss";
@import "mixin.scss";

/* GLOBAL STYLES
-------------------------------------------------- */
* {
  outline: none;
}

body, p, a {
  font:{
    family: $font-family;
    size: $font-size; }
    color: $font-color;
}
h3 {
  font-size: $font-size + $font-size/2;
}
a:hover {
  text-decoration: none;
  color: inherit;
  opacity: .8;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.read-btn {
  @include size(88px,35px);
  background: transparent;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  border-radius: 4px;
  margin-top: 0;
  padding: 6px;
  display: block;
}

.logo {
  font-family: $logo-font-family;
}

.full-content {
  margin-top: 50px;
}

.content-text {
  h3{
    padding: 0;
  }
  p {
    padding-top: 16px;
    line-height: 22px;
  }
}

h2.section-title {
  font-size: $font-size + 10;
  text-transform: uppercase;
  span {
    font-weight: bold;
  }
}
.spacing {
  margin: 90px 0 20px;
}

.hrline {
  text-align: center;
  position: relative;
  h3{
    padding: 0 15px;
    background-color: $white-color;
    display: inline;
    font-size: $font-size+1;
  }
  i {
    padding: 0 15px;
    background-color: $white-color;
  }
  &:before {
    @include center();
    border-bottom: 1px solid $border-color;
    content: "";
    top: 50%;
    z-index: -1;
    margin: auto;
  }
  .fa {
    &:before {
      color: $secondary-color;
      font-size: $font-size*2 +2;
    }
  }
}


.contact-caption {
  @include center;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: $white-color;
  z-index: 1;
  h1 {
    font-size: $font-size*3;
    font-weight: bold;
  }
}
a.navbar-brand.logo {
  img {
    margin-top: -10px;
  }
  &:hover {
    opacity: 1;
  }
}
.page-header-bg {
  position: relative;
  &:after {
    @include center();
    content: '';
    top: 0;
    bottom: 0;
    background-color: rgba(20, 27, 47, 0.5);
  }
}
/* no-gutters Class Rules */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* CUSTOMIZE THE NAVBAR */

.navbar-default {
  background-color: transparent;
  .navbar-brand {
    color: $white-color;
  }
  .navbar-nav
  li {
    a {
      color: $white-color;
      &:focus, &:hover {
        color: rgba(255, 255, 255, 0.7);
        background-color: transparent;
      }
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  background: rgba(26, 49, 66, 0.59);
  background: transparent;
}
.navbar-wrapper {
  @include center();
  top: 0;
  z-index: 20;
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
    .container {
      width: auto;
    }
  }
}

/* CUSTOMIZE THE CAROUSEL*/

.top-slide {
  a.carousel-control{
    display: flex;
  }
  span.fa{
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:before{
      border: 2px solid $white-color;
      @include icon-style(40px);
      border-radius: 50%;
    }
  }
  .item:after {
    @include center();
    content: '';
    top: 0;
    bottom: 0;
    background-color: rgba(20, 27, 47, 0.5);
  }
  .carousel-caption {
    @include center();
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    h1 {
      font-weight: bold;
      font-size: $font-size*3 + $font-size/2;
    }
    h3 {
      font-size: 25px;
    }
  }
  .carousel-control {
    color: $white-color;
    text-shadow: transparent;
    background-color: transparent;
    opacity: 1;
  }
  .carousel-indicators {
    .active {
      position: relative;
      @include size(6px,6px);
      margin: 0;
      background-color: $white-color;
      &:before {
        content: '';
        position: absolute;
        @include size(20px,20px);
        border: 1px solid $white-color;
        border-radius: 50%;
        top: -8px;
        left: -8px;
      }
    }
    li {
      position: relative;
      @include size(6px,6px);
      background: $white-color;
      &:nth-child(2) {
        margin: 0 15px;
      }
    }
  }

  a.slider-btn {
    background: $secondary-color;
    border: 0;
    padding: 8px 12px;
    border-radius: 5px;
    @include size(155px,50px);
    font-size: $font-size +4;
    text-transform: uppercase;
    color: inherit;
    position: relative;
    top: 15px;
  }
}

/*Contact Info */

.contact-info {
  margin-top: 40px;
  li {
    font-size: $font-size;
  }
  .fa {
    @include icon-style(60px);
    font-size: $font-size*2;
    background: $secondary-color;
    color: $white-color;
    border-radius: 50%;
  }
}
.maps iframe {
  pointer-events: none;
  width: 100%;
}
.form-control-contact {
  width: 100%;
  text-indent: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f5f5f5;
}
form#contact {
  margin-top: 50px;
  input {
    height: 45px;
  }
  button {
    @include size(100%,40px);
    border-radius: 5px;
    color: $white-color;
    font-size: $font-size + $font-size/2;
  }
}

/* Testimonial Page */

.testimonial-slide {
  .line-separator {
    @include size(0,0);
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ddd;
    margin: 0 0 0 170px;
  }
  .carousel-indicators{
    li {
      position: relative;
      top: 60px;
      background: $border-color;
    }
    .active {
      background: $secondary-color;
    }
  }
}

.line {
  border-top: 1px solid #eee;
  width: 50%;
  margin: 0 auto;
  &-separator {
    text-align: center;
  }
}

blockquote {
  padding: 0;
  margin: 10px 0 5px;
  font-size: $font-size +4;
  text-align: center;
  border-left: none;
}

.author-name {
  margin-top: 12px;
  span {
    font-weight: bold;
  }
}

.myline {
  position: relative;
  border: 1px solid #ccc;
  width: 400px;
  margin: 25px auto;
  &:before {
    @include testimonial-line();
    left: 70px;
    border-width: 0 21px 21px;
    border-color: transparent #ccc transparent transparent;
  }
  &:after {
    @include testimonial-line();
    left: 73px;
    bottom: -18px;
    border-width: 0 19px 19px;
    border-color: transparent $white-color transparent transparent;
  }
}
/* About Home Page. */

.sub-title-about {
  p {
    font-size: $font-size +4;
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
  }
}

.about-content {
  border: 1px solid $border-color;
  text-align: center;
  font-size: $font-size;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 4px;
}

.icon-circle {
  @include center();
  @include size(100px,100px);
  @include block-center();
  text-align: center;
  background: $secondary-color;
  border: 10px solid $white-color;
  border-radius: 50%;
  top: -50px;
}

.fa.icon-circle:before {
  position: relative;
  top: 34%;
  font-size: $font-size +$font-size/2;
  color: $white-color;
}

.about-img {
  @include block-center();
  width: 100%
}

.content-text {
  padding: 15px;
}

// Project section

.project-content {
  margin-top: 30px;
  a {
    &:nth-child(1) {
      position: relative;
      display: block;
      background: black;
    }
    img {
      display: block;
      transition: all 0.5s linear;
    }
    &:hover img {
      opacity: 0.7;
    }
    img {
      width: 100%;
    }
    &:hover i {
      opacity: 1;
    }
  }
  i {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    color: $white-color;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
  }
  &-title {
    @include block-center();
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 0;
    width: 100%;
    color: inherit;
  }

  &-subtitle {
    font-size: $font-size;
    padding: 0;
  }
}


/* Gallery */

.gallery {
  img {
    width: 100%;
  }
}
.gallery-img-box {
  border: 1px solid $border-color;
  margin-left: -1px;
  margin-bottom: -1px;
  h3 {
    font-size: 18px;
    color: #484848;
  }
  p{
    font-size: $font-size;
    color: #b2b2b2;
  }
}
/* Sidebar */

.sidebar {
  border: 1px solid $border-color;
  border-radius: 10px;
  margin-bottom: 20px;
  p {
    font-size: $font-size;
  }
  .fa {
    color: $secondary-color;
  }
  &-logo {
    font-size: $font-size *2 +2;
    color: #3c3a37;
    margin-top: 30px;
  }
  .hrline {
    margin: 30px 0;
  }
}
span.sidebar-text {
  font-size: $font-size;
  text-transform: uppercase;
}

.form-search-control {
  @include size(100%,40px);
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  text-indent: 10px;
}

.blog-tags span {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

/* Footer */

.credit p {
  position: relative;
  top: 15px;
}

footer {
  background: #273a41;
  color: $white-color;
  padding: 70px 0 0;
  margin-top: 60px;
  p, li {
    color: #848a8d;
    font-size: $font-size;
  }
  h3 {
    font-size: $font-size + $font-size/2;
    margin-bottom: 30px;
  }
  a{
    margin-right: 15px;
  }
  .fa {
    font-size: $font-size *2;
    color: $secondary-color;
  }
  li span.fa {
    @include icon-style(40px);
    background: #2c3b42;
    border-radius: 50%;
    text-align: center;
    color: $white-color;
    &:hover{
      opacity: .7;
      transition: .3s;
    }
  }
}
.social {
  ul {
    display: inline-block;
  }
  li {
    float: left;
    margin: 5px 0;
  }
}
.address{
  li{
    margin-bottom: 5px;
  }
  i.fa {
    width: 30px;
    margin-right: 10px;
    text-align: center;
  }
  span {
    position: relative;
    top: -6px;}
}

.bottom-footer {
  background: #172227;
  padding: 25px 0 15px;
  margin-top: 25px;
}

ul.tweets li {
  margin-bottom: 25px;
  a {
    color: inherit;
  }
  .icon-flow {
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    float: left;
  }
  .text-flow {
    overflow: hidden;
  }
}
span.time-stamp {
  color: $secondary-color;
  position: relative;
  top: 5px;
}

.form-control {
  border-radius: 6px 0 0 6px;
  background: black;
  border: 0;
  height: 40px;
}
.form {
  display: flex;
  button {
    background: $secondary-color;
    padding: 5px 9px;
    border: 0;
    border-radius: 0 6px 6px 0;
    width: 50px;
  }
}
footer a {
  color: inherit;
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}
.page-header-bg {
  width: 100%;
  img {
    width: 100%;
  }
}