// Fonts Description
$font-family: 'Open Sans', sans-serif;
$logo-font-family: 'Pacifico', cursive;
$font-size: 14px;
$font-weight: 400;

// Colors

$font-color: #7c7770;
$secondary-color: #71B6D5;
$border-color: #e1e1e1;
$white-color:#fff;
$nav-collapse-bg: rgba(16, 33, 45, 0.81);
